h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

li{
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    border:1px solid #29b6f6;
}

a{

}